.topnav {
  position: fixed;
  top: 0;
  left: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: black;
  line-height: 45px;
  font-size: 15px;
  z-index: 1000;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.nav-pills{
  font-family: Sansita;
  font-size:1.7em;
  background-color: black;
}


#name{
  font-size:4.5em;
}

.btn-default {
  color:white;
  font-size: 1em;
  border-color:white;
}

#pageOne {
  font-family:Sansita;
  background-color:IndianRed;
  color:white;
  padding-top: 20em;
  padding-bottom:20em;
}

#pageTwo {
  padding-top: 17em;
  padding-bottom: 17em;
  background-color: AntiqueWhite;
}

.sansita {
  font-family: Sansita;
}

.whitehr {
  background-color: black;
  margin-left: 19.5em;
  margin-right: 19.5em;
}

.redhr {
  background-color: white;
  margin-left: 19.5em;
  margin-right: 19.5em;
}

.intro {
  font-size: 1.1em;
  margin-left: 17.7em;
  margin-right: 17.7em;
}

#introTitle {
  font-family: Sansita;
}

#pageThree {
  padding-top: 10em;
  padding-bottom: 10em;
  background-color:darkgrey;
  color:white;
}

.ResSubtitle {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 10.8em;
  font-size: 1.8em;
}

.SchoolName {
  margin-left: 18.27em;
  font-size: 1.2em;
}

.Degree {
  margin-left: 22em;
  font-size: 1em;
  padding-bottom: 0.5em;
}

.CompanyName{
  margin-left: 18.27em;
  font-size: 1.2em;
}

.WorkTitle {
  margin-left: 22em;
  font-size: 1em;
}

.Description {
  margin-left: 22em;
  margin-right: 19em;
  font-size: 1em;
}

.TechUsed {
  margin-left: 22em;
  margin-right: 19em;
  font-size: 1em;
  padding-bottom: 1.5em;
}

a{
  color: antiquewhite;
}
